Use Pandas `to_html` method to generate HTML tables from DataFrames

In [6]:
import pandas as pd
df = pd.read_csv("Resources/cities.csv")
df.head(3)

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,jacareacanga,0,BR,1528902000,62,-6.22,-57.76,89.60,6.93
1,1,kaitangata,100,NZ,1528905304,94,-46.28,169.85,42.61,5.64
2,2,goulburn,20,AU,1528905078,91,-34.75,149.72,44.32,10.11

In [7]:
html_table = df.to_html()

In [9]:
df.to_html('data.html')